<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/op/home.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Navbar styles */

        /* Button used to open the chat form - fixed at the bottom of the page */
    </style>
</head>

<body>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Navbar -->
    <div class="navbar">
        <h2>HIS</h2>
        <div class="nav-links">
            <!-- Add additional links here if needed -->
            <a href="#">Home</a>

            <div class="dropdown">
                <a href="/logout" class="dropbtn">Logout</a>

            </div>
            <a href="#">Contact</a>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <p></p>
        <div class="icon-boxes">
            <div class="icon-box" id="box1">
                <img src="{{ url_for('static', filename='icons/registration_icon.png')}}" alt="Description of Image">
                <h3>Register New Patient</h3>
                <p></p>
            </div>
            <div class="icon-box" id="box2">
                <img src="{{ url_for('static', filename='icons/appointment_icon.png')}}" alt="Icon 2">
                <h3>Book appointment</h3>
                <p></p>
            </div>
            <div class="icon-box" id="box3">
                <img src="{{ url_for('static', filename='icons/patient_list.png')}}" alt="Icon 2">
                <h3>Patient List</h3>
                <p></p>
            </div>

            <!-- New icon box -->

        </div>

        <!-- Modal for Box 1 with Registration Form -->
        <!-- Registration Form Modal for Box 1 -->
        <!-- Patient Registration Modal -->
        <div id="registrationModal" class="custom-modal">
            <div class="custom-modal-dialog">
                <div class="custom-modal-content">
                    <div class="custom-modal-header">
                        <h5 class="custom-modal-title">Register New Patient</h5>
                        <button type="button" class="custom-close"
                            onclick="closeModal('registrationModal')">&times;</button>
                    </div>
                    <div class="custom-modal-body">
                        <form id="patientRegistrationForm">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstname"
                                        placeholder="Enter first name" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastname"
                                        placeholder="Enter last name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="dob">Date of Birth</label>
                                    <input type="date" name="dob" class="form-control" id="dob" required>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select id="gender" class="form-control" name="gender" required>
                                        <option value="">Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone" name="phonenumber"
                                        placeholder="Enter phone number" required>
                                </div>
                                <div class="form-group">
                                    <label for="tokenNumber">Token Number</label>
                                    <div class="token-container">
                                        <input type="text" class="form-control" id="tokenNumber"
                                            placeholder="token number" required disabled>
                                        <button type="button" class="btn btn-copy" onclick="copyTokenNumber()" value="">
                                            <i class="fas fa-copy"></i> <!-- Font Awesome icon -->
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" name="address" placeholder="Enter address"
                                    required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="photo">Upload Photo</label>
                                <input type="file" class="form-control" id="photo" name="image" accept="image/*">
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn_btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div id="patientlistmodel" class="custom-modal">
            <div class="custom-modal-dialog">
                <div class="custom-modal-content">
                    <div class="custom-modal-header">
                        <h5 class="custom-modal-title">Register New Patient</h5>
                        <button type="button" class="custom-close" onclick="closePatientListModal()">&times;</button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="alert alert-danger" role="alert" id="danger-alert" style="display: none;">
                            A simple danger alert—check it out!
                        </div>
                        <div class="container mt-5">
                            <h3 class="mb-4">Patient Records</h3>
                            <table id="patientTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>P.NO</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="patientTableBody">
                                    <!-- Data will be populated here by JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div id="Bookappointmentmodel" class="custom-modal">
            <div class="custom-modal-dialog">
                <div class="custom-modal-content">
                    <div class="custom-modal-header">
                        <h5 class="custom-modal-title">Appointment Form</h5>
                        <button type="button" class="custom-close"
                            onclick="closeappointmentRegistrationModal()">&times;</button>
                    </div>

                    <div class="custom-modal-body">
                        <form id="appointmentRegistrationForm">
                        <div class="form-group">
                            <label for="tokenNumber">Token Number</label>
                            <div class="token-container">
                                <input type="text" class="form-control" id="tokenNumberID"
                                    placeholder="Enter token number" name="patientId" value="" required oninput="tokenChange()" >
                            
                            </div>
                        </div>
                        
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstname"
                                        placeholder="Enter first name" required disabled >
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Enter last name"
                                        required disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="dob">Date of Birth</label>
                                    <input type="date" class="form-control" id="DOB"  required disabled>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select id="Gender" class="form-control" required disabled>
                                        <option value="">Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" id="phoneno" placeholder="Enter phone number"
                                        required disabled>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="doctor">Select Doctor</label>
                                <select id="doctor" name="doc_id" class="form-control" required>
                                    <option value="">Select Doctor</option>
                                    
                                </select>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="firstName">Date</label>
                                    <input type="date" class="form-control" id="date"
                                    name="date" required >
                                </div>
                                <div class="form-group">
                                    <label for="appt">Choose a time for your appointment</label>
                                   
                                    <input type="time" class="form-control" 
                                    id="appt" name="appt" required >
                                </div>
                            </div>
                            
                            
                            <div class="form-footer">
                                <button type="submit" class="btn_btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Chat popup -->
        <div class="main-content">
            <button class="open-button" onclick="openForm()">Chat</button>

            <div class="chat-popup" id="myForm">
                <form action="javascript:void(0);" class="form-container" onsubmit="sendMessage()">
                    <h1>Chat</h1>

                    <div class="chat-messages" id="chatMessages"></div>

                    <div class="response-bar" id="responseBar"></div>

                    <label for="msg"><b>Message</b></label>
                    <textarea id="msg" placeholder="Type message.." name="msg" required></textarea>

                    <button type="submit" class="btn">Send</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
        </div>





        <script src="{{ url_for('static', filename='js/op/home.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</body>

</html>