<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<h2>Camerin Demo</h2>
<p>Click on the button at the bottom of this page to open the chat form.</p>
<p></p>

<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
    <form action="javascript:void(0);" class="form-container" onsubmit="sendMessage()">
      <h1>Chat</h1>
  
      <div class="chat-messages" id="chatMessages"></div>
      
      <div class="response-bar" id="responseBar"></div>
  
      <label for="msg"><b>Message</b></label>
      <textarea id="msg" placeholder="Type message.." name="msg" required></textarea>
  
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>


  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
